#footer
	.ed-container.abcenter
		.ed-item
			p Isamael Corp
		.img_content.abcenter
			img.img(src="../img/facebook.jpg")
			img.img(src="../img/youtube.jpg")
			img.img(src="../img/gmail.jpg")
			img.img(src="../img/twitter.jpg")
		.info
			p Tearm and Condition
			p Contacts
		.ed-item
			.letters
				p Isamael Corp All 2014 - 2016. All Rights Reserved