body {
	width: 100vw;
	height: 100vh;
	background:$blue url('../img/bg.jpg') center center no-repeat fixed;
	background-size: cover;
}

#header {
	background-color: rgba(0,0,0,.6);
	height: 3em;
	position: fixed;
	width: 100%;
	z-index: 9999;
}
.toggle-menu {
	@include from(tablet) {
		display: none;
	}
}
.full-height {
	height: 100%;
}